useDynLib(dREG, .registration = TRUE)

import(methods)
import(graphics)
import(grDevices)
import(utils)
import(stats)
import(parallel)
import(e1071)
import(bigWig)
import(rphast)
import(snowfall)
import(data.table)
import(mvtnorm)
import(rmutil)
import(randomForest)


exportClasses("genomic_data_model")
export(read_genomic_data)
export(genomic_data_model)
export(get_informative_positions)
export(regulatory_svm)
export(eval_reg_svm)
export(get_test_set)
export(peak_calling)
export(peak_calling_nopred)
export(find_peaks)
export(find_rf_peaks)
export(check_bigwig)
export(roc.calc, logreg.roc.calc, combine.roc, roc.auc, roc.plot)

