useDynLib(dREG, .registration = TRUE)

import(parallel)
import(e1071)
import(bigWig)
import(rphast)
import(methods)

exportClasses("genomic_data_model")
export(read_genomic_data)
export(genomic_data_model)
export(get_informative_positions)
export(regulatory_svm)
export(eval_reg_svm)
export(get_test_set)
export(roc.calc, logreg.roc.calc, combine.roc, roc.auc, roc.plot)
